.container {
    background-color: #05111e;

    img {
        padding-right: 30px;
    }
    
    a {
        padding: 0 10px;
        text-decoration: none;
    } 

    button {
        color: var(--white);
        &:hover {
            color: var(--secondary-color)
        }
    }
}