:root {
  --main-color: #242424;
  --main-color-light: #363636;
  --secondary-color: #bb8218;
  --navbar-color: #05111e;
  --white: #dddddd;

  margin-top: 100px;
  color: var(--white);
  background-color: var(--main-color);
}

.container {
  background-color: var(--main-color-light);
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
